<%- include("partials/header", { title: title }) %>

<h2>Moje rezervácie</h2>

<table class="table">
  <thead>
    <tr>
      <th>Udalosť</th>
      <th>Dátum</th>
      <th>Čas</th>
    </tr>
  </thead>
  <tbody>
    <% rezervacie.forEach(r => { %>
      <tr>
        <td><%= r.event %></td>
        <td><%= r.date %></td>
        <td><%= r.time %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include("partials/footer") %>
