<%- include("partials/header", { title: title }) %>

<h2>Zoznam trénerov</h2>

<p>
  <a href="/treneri/novy">Pridať trénera</a>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Meno</th>
      <th>Špecializácia</th>
      <th>Akcie</th> <!-- nový stĺpec -->
    </tr>
  </thead>
  <tbody>
    <% treneri.forEach(trener => { %>
      <tr>
        <td><%= trener.name %></td>
        <td><%= trener.specialization %></td>
        <td>
        <a href="/treneri/<%= trener.id %>/edit">Upraviť</a>
  |
        <form action="/treneri/<%= trener.id %>/delete" method="POST" style="display:inline;">
          <button type="submit" onclick="return confirm('Naozaj zmazať tohto trénera?');">
             Zmazať
          </button>
        </form>
      </td>

      </tr>
    <% }) %>
  </tbody>
</table>

<%- include("partials/footer") %>
