<%- include("partials/header", { title: title }) %>

<h2>Upraviť trénera</h2>

<% if (errors && errors.length > 0) { %>
  <ul style="color: red;">
    <% errors.forEach(e => { %>
      <li><%= e %></li>
    <% }) %>
  </ul>
<% } %>

<form action="/treneri/<%= trainer.id %>/edit" method="POST">
  <div class="form-group">
    <label for="name">Meno trénera</label><br>
    <input
      type="text"
      id="name"
      name="name"
      value="<%= trainer.name %>"
    />
  </div>

  <div class="form-group">
    <label for="specialization">Špecializácia</label><br>
    <input
      type="text"
      id="specialization"
      name="specialization"
      value="<%= trainer.specialization %>"
    />
  </div>

  <button type="submit">Uložiť zmeny</button>
  <a href="/treneri">Späť na zoznam</a>
</form>

<%- include("partials/footer") %>
